@import ../tags

@mixin base()
    position: absolute
    top: 0
    left: 0
    width: u(8)
    height: u(8)
    border: u(0.75) solid rgba(black,0.15)
    border-radius: 50%
    animation-name: animate
    animation-iteration-count: infinite
    animation-timing-function: linear
    mix-blend-mode:  color

$opacity: 0.33

:host
    display: block
    width: u(8)
    height: u(8)
    position: relative
    animation-name: animate
    animation-iteration-count: infinite
    animation-timing-function: linear
    animation-duration: 1500ms
    animation-direction: alternate
    user-select: none


    div:nth-child(1)
        @include base()
        animation-duration: 1500ms
        animation-direction: alternate
        border-color: rgba(255, 0, 0, $opacity)

    div:nth-child(2)
        @include base()
        animation-duration: 1700ms
        animation-direction: alternate-reverse
        border-color: rgba(0, 255, 0, $opacity)
    div:nth-child(3)
        @include base()
        animation-duration: 1900ms
        animation-direction: alternate
        border-color: rgba(0, 0, 255, $opacity)

@keyframes animate 
    0% 
        transform: rotate(360deg)  scaleX(0.95) scaleY(1.05)
    100% 
        transform: rotate(0deg)  scaleX(1.05) scaleY(0.95)
