@import ../tags

tag-flex
    display: flex 
    width: inherit 
    justify-content: space-between
    align-items: baseline
    tester: test

@each $var in ['flex-start', 'flex-end', 'space-between','center']
    tag-flex[justify-content=#{$var}]
        justify-content: unquote($var)

@each $var in ['flex-start', 'flex-end', 'baseline','center']
    tag-flex[align-items=#{$var}]
        align-items: unquote($var)

@each $var in ['column']
    tag-flex[flex-direction=#{$var}] 
        flex-direction: unquote($var)

 


@each $var in $unitList
    $name: 'tag-flex[gap="u(' + $var + ')"]'
    #{$name}
        margin: u($var) / -2



@each $var in $unitList
    $name: 'tag-flex[gap="u(' + $var + ')"]'
    #{$name}
        & > tag-flex-item
            margin: u($var) / 2