@import ../../../variables

:host
    display: block
    h1
        font-size: u(3)
        margin: 0
        font-weight: bold
        line-height: 1

    .logo
        a
            display: block
            outline: none
            box-shadow: none
        img
            width: 200px
            display: block

    .row
        &:nth-child(1)
            font-size: u(1.75)
            line-height: u(1.75 * 1.3)
            margin-bottom: u(1)

    .border
        margin-top: u(1)
        border-bottom: u(0.75) solid $color-accent
        margin-bottom: u(3)
        border-radius: u(0.5)
        margin-left: u(-2)
        width: calc(100% + #{u(4)})

    .active
        display: none
    


.user-section
    margin-bottom:  u(1)