<div class="row">
    <tag-flex justify-content="space-between" align-items="flex-start">

        <tag-flex-item flex="1">
            <tag-flex justify-content="flex-start">
                <tag-flex-item>
                    Режим работы:&nbsp;Ежедневно, 8:30&nbsp;-&nbsp;18:30
                </tag-flex-item>
            </tag-flex>
        </tag-flex-item>

        <tag-flex-item flex="1">
            <tag-flex justify-content="center">
                <tag-flex-item>
                    Телефон: <span style="white-space: nowrap;">8 (3012) 37-91-95</span>
                </tag-flex-item>
            </tag-flex>
        </tag-flex-item>

        <tag-flex-item flex="1">
            <tag-flex justify-content="flex-end">
                <tag-flex-item>
                    <div style="text-align: right;">Главный&nbsp;офис: г.&nbsp;Улан-Удэ, ул.&nbsp;Забайкальская,&nbsp;40 </div>
                </tag-flex-item>
            </tag-flex>
        </tag-flex-item>

    </tag-flex>
</div>



<ng-template [ngIf]="isAuth() === true">
    <div class="row">
        <tag-flex justify-content="space-between" align-items="center">

            <tag-flex-item flex="1">
                <tag-flex justify-content="flex-start">
                    <tag-flex-item>
                        <div class="logo">
                            <a href="/">
                                <img src="assets/logo-new.png" alt="">
                            </a>
                        </div>
                    </tag-flex-item>
                </tag-flex>
            </tag-flex-item>

            <tag-flex-item flex="1">
                <tag-flex justify-content="center">
                    <tag-flex-item>
                        <h1>{{organizationName}}</h1>
                    </tag-flex-item>
                </tag-flex>
            </tag-flex-item>

            <tag-flex-item flex="1">
                <tag-flex justify-content="flex-end" gap="u(1)">
                    <tag-flex-item>
                        <button tag-stroked-button [routerLink]="['/user', 'edit']">Профиль</button>
                    </tag-flex-item>
                    <tag-flex-item>
                        <button tag-stroked-button (click)="logout()">Выйти</button>
                    </tag-flex-item>
                </tag-flex>
            </tag-flex-item>

        </tag-flex>
    </div>
</ng-template>



<ng-template [ngIf]="isAuth() === false">
    <div class="row">
        <tag-flex justify-content="space-between" align-items="center">

            <tag-flex-item flex="1">
                <tag-flex justify-content="flex-start">
                    <tag-flex-item>
                        <div class="logo">
                            <a href="/">
                                <img src="assets/logo-new.png" alt="">
                            </a>
                        </div>
                    </tag-flex-item>
                </tag-flex>
            </tag-flex-item>

            <tag-flex-item flex="1"> </tag-flex-item>

            <tag-flex-item flex="1"> </tag-flex-item>

        </tag-flex>
    </div>
</ng-template>

<div class="border"></div>

<ng-template [ngIf]="isAuth() === true">
    <div class="user-section">
        <tag-flex justify-content="space-between" align-items="baseline">
            <tag-flex-item>
                <!-- <button tag-stroked-button (click)="back()" routerLinkActive="active">&nbsp;&nbsp;&nbsp;←&nbsp;&nbsp;&nbsp; </button> -->
                <button tag-stroked-button [routerLink]="[ '/orders' ]" routerLinkActive="active">
                    <tag-flex align-items="center">
                        <tag-flex-item> <img style="width: 18px;display: block;" src="https://img.icons8.com/ios/100/000000/back--v1.png"></tag-flex-item>
                        <tag-flex-item>Договоры</tag-flex-item>
                    </tag-flex>
                </button>
            </tag-flex-item>
            <tag-flex-item>
                <tag-flex justify-content="flex-end" align-items="center" gap="u(1)">
                    <tag-flex-item>
                        Долг\переплата: 15000
                    </tag-flex-item>
                    <tag-flex-item>
                        <a href="" size="s" tag-stroked-button>Пополнить</a>
                    </tag-flex-item>
                </tag-flex>
            </tag-flex-item>
        </tag-flex>
    </div>
</ng-template>