@import ../tags
tag-field-date
    display: block
    input[type="date"]
        width: 100%
        padding: u(1)
        border: 1px solid rgba(black,0.1)
        border-radius: 3px
        height: u(4)

    input[type="text"]:focus
        border-color: rgba(0,0,0,0)
