@import ../../../variables


:host
    display: block
    background: white
    border-radius: u(1)
    padding: u(1) 


    h1
        margin: 0
    h2 
        margin: 0


    tag-field-text
        margin-bottom: u(1)


    .row
        margin-bottom: u(4)
    