<div *ngIf="userData">
    <div class="row">

        <tag-flex justify-content="center" justify-content="space-between" align-items="center" gap="u(1)">
            <tag-flex-item>
                <h1>Договор </h1>
            </tag-flex-item>
            <tag-flex-item>
                <button tag-button>Сохранить</button>
            </tag-flex-item>
        </tag-flex>

    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption></tag-field-caption>
            <tag-field-text>
                <h2>Данные организации</h2>
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>Введите ИНН</tag-field-caption>
            <tag-field-text>
                <input type="text" [(ngModel)]="userData['ИНН']">
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>Название организации</tag-field-caption>
            <tag-field-text>
                <input type="text" [(ngModel)]="userData['ОсновныеДанные']['НаименованиеПолное']">
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>ОГРН</tag-field-caption>
            <tag-field-text>
                <input type="text" [(ngModel)]="userData['ОГРН']">
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>Юридический адрес</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>Почтовый адрес</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption></tag-field-caption>
            <tag-field-text>
                <h2>Банковские реквизиты</h2>
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>БИК</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>Расчетный счёт</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>Наименование банка</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>Коррсчёт</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>

        <tag-field>
            <tag-field-caption>Адрес банка</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>





    <div class="row">
        <tag-flex justify-content="center" flex-direction="column" align-items="center" gap="u(1)">
            <tag-flex-item>
                <button tag-button size="x" (click)="submit()">Сохранить</button>
            </tag-flex-item>
        </tag-flex>
    </div>
</div>