<tag-card *ngIf="isLoaded === false">
    <div>
        <br>
        <br>
        <tag-flex justify-content="center">
            <tag-flex-item>
                <tag-progress-circle> </tag-progress-circle>
            </tag-flex-item>
        </tag-flex>
        <br>
        <br>
    </div>
</tag-card>



<tag-card *ngIf="isLoaded === true">
    <div class="order-header">
        <tag-flex justify-content="space-between" align-items="flex-start" gap="u(2)">
            <tag-flex-item>
                <h3>Договор</h3>
                <h1 *ngIf="orderInfo">{{orderInfo['Номер']}}</h1>
            </tag-flex-item>
            <tag-flex-item>
                <tag-flex justify-content="flex-end" align-items="baseline" gap="u(1)">
                    <tag-flex-item>
                        <button size="s" tag-button>Расторгнуть</button>
                    </tag-flex-item>
                    <tag-flex-item>
                        <button size="s" tag-button [routerLink]="[ '/order', orderId, 'edit' ]">Редактировать</button>
                    </tag-flex-item>
                    <tag-flex-item>
                        <button size="s" tag-button>Добавить объект</button>
                    </tag-flex-item>
                </tag-flex>
            </tag-flex-item>
        </tag-flex>
    </div>



    <hr>



    <div class="order-tabs">
        <tag-flex justify-content="flex-start" align-items="baseline" gap="u(1)">
            <tag-flex-item>
                <button tag-stroked-button [disabled]="isObjectsMode" [routerLink]="[ '/order', orderId, 'objects' ]">Объекты</button>
            </tag-flex-item>
            <tag-flex-item>
                <button tag-stroked-button [disabled]="isDocsMode" [routerLink]="[ '/order', orderId, 'docs' ]">Документы</button>
            </tag-flex-item>
            <tag-flex-item>
                <button tag-stroked-button [disabled]="isAccountMode" [routerLink]="[ '/order', orderId, 'account' ]">Взаиморасчёты</button>
            </tag-flex-item>
        </tag-flex>
    </div>



    <hr>




    <div>

        <div class="order-body">


            <table tag-simple-table *ngIf="isObjectsMode">
                <thead>
                    <tr>
                        <td>№</td>
                        <td>Статус</td>
                        <td>Нименование</td>
                        <td>Адрес</td>
                        <td>Дата включения</td>
                        <td>Дата отключения</td>
                        <td>Способ расчета</td>
                        <td>Тарифная зона</td>
                        <td right>График обслуживания</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-i="index" let-item [ngForOf]="orderObjects">
                        <tr class="sup-table-row" [class.active]="pickedObject === item">
                            <td>{{ i + 1 }}</td>
                            <td> </td>
                            <td>{{ item['НаименованиеОбъекта'] }}</td>
                            <td>{{ item['АдресОбъекта'] }}</td>
                            <td>{{ item['ДатаВключения'] | date:'dd.MM.yyyy' }}</td>
                            <td>
                                <div *ngIf="item['ДатаОтключения'] === '0001-01-01T00:00:00'">Нет</div>
                                <div *ngIf="item['ДатаОтключения'] !== '0001-01-01T00:00:00'">{{ item['ДатаОтключения'] | date:'dd.MM.yyyy' }}</div>
                            </td>
                            <td>{{ item['СпособРасчета'] }}</td>
                            <td>{{ item['ТарифнаяЗона'] }}</td>
                            <td>
                                <tag-flex justify-content="flex-end" gap="u(1)">
                                    <tag-flex-item>
                                        <button tag-button size="s" (click)="pickObject(item)">Редактировать</button>
                                    </tag-flex-item>
                                    <tag-flex-item>
                                        <a tag-button href="" size="s" [routerLink]="['/order',item.id]">Удалить</a>
                                    </tag-flex-item>
                                </tag-flex>
                            </td>
                        </tr>
                        <tr class="sub-table-row" *ngIf="pickedObject === item">
                            <td colspan="9">
                                <tbo-order-object transparent [object]="pickedObject"></tbo-order-object>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>

            <div *ngIf="isDocsMode">
                <tag-flex justify-content="flex-end" gap="u(1)">
                    <tag-flex-item>
                        Период
                    </tag-flex-item>
                    <tag-flex-item>
                        <tag-field-date>
                            <input type="date" [(ngModel)]="startDate" (change)="dateChange()">
                        </tag-field-date>
                    </tag-flex-item>
                    <tag-flex-item>
                        <tag-field-date>
                            <input type="date" [(ngModel)]="endDate" (change)="dateChange()">
                        </tag-field-date>
                    </tag-flex-item>
                </tag-flex>
                <hr>
                <table tag-simple-table>
                    <thead>
                        <tr>
                            <td>№</td>
                            <td>Номер</td>
                            <td>Название</td>
                            <td>Дата</td>
                            <td right>Сумма</td>
                            <td right></td>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-item let-i="index" [ngForOf]="orderDocuments">
                            <tr class="sup-table-row">
                                <td>{{i+1}}</td>
                                <td>{{item['Номер']}}</td>
                                <td>{{item['Наименование']}}</td>
                                <td>{{item['Дата'] | date:'dd.MM.yyyy'}}</td>
                                <td right>{{item['СуммаДокумента'] | number:'0.2-2'}}</td>
                                <td>
                                    <tag-flex justify-content="flex-end" gap="u(1)">
                                        <tag-flex-item>
                                            <button tag-button size="s">Печать</button>
                                        </tag-flex-item>
                                        <tag-flex-item>
                                            <button tag-button size="s">Скачать</button>
                                        </tag-flex-item>
                                    </tag-flex>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>



            <div *ngIf="isAccountMode">
                <tag-flex justify-content="flex-end" gap="u(1)">
                    <tag-flex-item>
                        Период
                    </tag-flex-item>
                    <tag-flex-item>
                        <tag-field-date>
                            <input type="date" [(ngModel)]="startDate" (change)="dateChange()">
                        </tag-field-date>
                    </tag-flex-item>
                    <tag-flex-item>
                        <tag-field-date>
                            <input type="date" [(ngModel)]="endDate" (change)="dateChange()">
                        </tag-field-date>
                    </tag-flex-item>
                </tag-flex>
                <hr>
                <table tag-simple-table>
                    <thead>
                        <tr>
                            <td>№</td>
                            <td>Дата</td>
                            <td>Название</td>
                            <td right>Дебет</td>
                            <td right>Кредит</td>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-i="index" let-item [ngForOf]="orderAccounts">
                            <tr class="sup-table-row">
                                <td>{{ i + 1}}</td>
                                <td>{{ item['ДатаДокумента'] | date : 'shortDate' }}</td>
                                <td>{{ item['Наименование'] }}</td>
                                <td right>
                                    <div *ngIf="item['ТипЗаписи'] === 0">{{ item['СуммаОплата'] }}</div>
                                </td>
                                <td right>
                                    <div *ngIf="item['ТипЗаписи'] === 0">{{ item['СуммаДолг'] }}</div>
                                    <div *ngIf="item['ТипЗаписи'] === 1">{{ item['СальдоНачалаВсего'] }}</div>
                                    <div *ngIf="item['ТипЗаписи'] === 2">{{ item['СальдоКонцаВсего'] }}</div>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</tag-card>