<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <h2>Основная информация</h2>
        </tag-field-text>
    </tag-field>
</div>

<div class="row">
    <tag-field>
        <tag-field-caption>Введите ИНН</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ИНН']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Фамилия</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['Фамилия']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Имя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['Имя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Отчество</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['Отчество']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>



<div class="row">
    <tag-field>
        <tag-field-caption>Ваш пол</tag-field-caption>
        <div>
            <label>
                <tag-flex gap="u(1)">
                    <tag-flex-item>
                        <input type="radio" name="Пол">
                    </tag-flex-item>
                    <tag-flex-item>
                        Мужской
                    </tag-flex-item>
                </tag-flex>
            </label>
            <label>
                <tag-flex gap="u(1)">
                    <tag-flex-item>
                        <input type="radio" name="Пол">
                    </tag-flex-item>
                    <tag-flex-item>
                        Женский
                    </tag-flex-item>
                </tag-flex>
            </label>
        </div>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Дата рождения</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ДатаРождения']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Серия паспорта</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['СерияПаспорта']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>

<div class="row">
    <tag-field>
        <tag-field-caption>Номер паспорта</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['НомерПаспорта']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Дата выдачи паспорта</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ДатаВыдачиПаспорта']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Кем выдан паспорт</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['КемВыданПаспорт']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>

<div class="row">
    <tag-field>
        <tag-field-caption>Код подразделения</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['КодПодразделения']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Адрес по прописке</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['АдресПоПрописке']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Адрес фактического проживания</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['АдресФактическогоПроживания']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Код ОКВЭД</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ОКВЭД']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Код ОКАТО</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ОКАТО']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Код ОКТМО</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ОКТМО']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>



<div class="row">
    <tag-field>
        <tag-field-caption>Номер телефона</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['НомерТелефона']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>















<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <h2>Руководитель</h2>
        </tag-field-text>
    </tag-field>
</div>




<div class="row">
    <tag-field>
        <tag-field-caption>Фамилия руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ФамилияРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Имя руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ИмяРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Отчество руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ОтчествоРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>



<div class="row">
    <tag-field>
        <tag-field-caption>Телефон руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ТелефонРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>




<div class="row">
    <tag-field>
        <tag-field-caption>e-mail руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['EmailРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>
















<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <h2>Банковские реквизиты</h2>
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>БИК банка</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['БИКБанка']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>




<div class="row">
    <tag-field>
        <tag-field-caption>Расчетный счёт</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['РасчетныйСчёт']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>




<div class="row">
    <tag-field>
        <tag-field-caption>Корреспондентский счёт</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['КорреспондентскийСчёт']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>

















<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <h2>Регистрационные данные</h2>
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>E-mail</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['Email']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>




<div class="row">
    <tag-field>
        <tag-field-caption>Пароль</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['Пароль']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>




<div class="row">
    <tag-field>
        <tag-field-caption>Повтор пароля</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['Пароль2']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <label>
            <input type="checkbox" [(ngModel)]="user['ПерсональныеДанныеСогласие']"> Даю своё согласие на обработку
            персональных данных
        </label>
    </tag-field>
</div>


<br>

<div class="row" [innerHTML]="message"></div>
<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <button tag-button (click)="submit()">Зарегистрироваться</button>
        </tag-field-text>
    </tag-field>
</div>