<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <h2>Основная информация</h2>
        </tag-field-text>
    </tag-field>
</div>

<div class="row">
    <tag-field>
        <tag-field-caption>Введите ИНН</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ИНН']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>



<div class="row">
    <tag-field>
        <tag-field-caption>Введите ОГРН</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ОГРН']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Полное наименование</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ПолноеНаименование']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Сокращенное наименование</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['СокращенноеНаименование']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Бюджетная или коммерческая</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['БюджетнаяКоммерческая']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Уровень бюджета</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['УровеньБюджета']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Адрес юридический</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['АдресЮридический']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Адрес фактический</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['АдресФактический']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Код ОКВЭД</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['КодОКВЭД']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Код ОКАТО</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['КодОКАТО']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Код ОКТМО</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['КодОКТМО']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Номер телефона</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['НомерТелефона']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>









<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <h2>Руководитель</h2>
        </tag-field-text>
    </tag-field>
</div>



<div class="row">
    <tag-field>
        <tag-field-caption>Фамилия руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ФамилияРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Имя руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ИмяРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Отчество руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ОтчествоРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Пол руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ПолРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Основание действия руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ОснованиеДействияРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Должность руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ДолжностьРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>ИНН руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ИННРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Телефон руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['ТелефонРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>e-mail руководителя</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['EmailРуководителя']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>







<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <h2>Банковские реквизиты</h2>
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>БИК банка</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['БИКБанка']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Расчетный счёт</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['РасчетныйСчёт']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Корреспондентский счёт</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['КорреспондентскийСчёт']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>








<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <h2>Регистрационные данные</h2>
        </tag-field-text>
    </tag-field>
</div>



<div class="row">
    <tag-field>
        <tag-field-caption>E-mail</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['email']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Пароль</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['Пароль']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>


<div class="row">
    <tag-field>
        <tag-field-caption>Повтор пароля</tag-field-caption>
        <tag-field-text>
            <input type="text" [(ngModel)]="user['Пароль2']" required minlength="4">
        </tag-field-text>
    </tag-field>
</div>

<div class="row" [innerHTML]="message"></div>
<div class="row">
    <tag-field>
        <tag-field-caption></tag-field-caption>
        <tag-field-text>
            <button tag-button (click)="submit()">Зарегистрироваться</button>
        </tag-field-text>
    </tag-field>
</div>