@import ../tags
tag-field-text
    display: block
    input[type="text"],input[type="password"]
        width: 100%
        padding: u(1)
        border: 1px solid rgba(black,0.1)
        border-radius: 3px
        line-height: 1 

    input[type="text"]:focus,input[type="password"]:focus
        border-color: rgba(0,0,0,0)
