<tag-card>
    <h1>Регистрация</h1>

    <div class="row" [innerHTML]="message"></div>
    <div class="row">
        <tag-field-text placeholder="Введите ИНН"><input type="text" placeholder="Введите ИНН" [(ngModel)]="inn"  ></tag-field-text>
    </div>
    <div class="row">
        <tag-field-text placeholder="E-mail"><input type="text" placeholder="E-mail" [(ngModel)]="email"  ></tag-field-text>
    </div>
    <div class="row">
        <tag-field-text placeholder="Пароль"><input type="password" placeholder="Пароль" [(ngModel)]="password1"  ></tag-field-text>
    </div>
    <div class="row">
        <tag-field-text placeholder="Пароль ещё раз"><input type="password" placeholder="Пароль ещё раз" [(ngModel)]="password2"  ></tag-field-text>
    </div>
    <div class="row">
        <button tag-button (click)="submit()" [ngClass]="[disabled ? 'wait' : '']" [disabled]="disabled ? 'disabled': ''">Зарегистрироваться</button>
    </div>

    <div class="row">
        <a href="" [routerLink]="[ '/', 'user', 'login' ]">Войти</a>
        <br>
        <a href="" [routerLink]="[ '/', 'user', 'recovery' ]">Восстановить пароль</a>
    </div>
</tag-card>
