@import ../tags


tag-field
    display: flex
    justify-content: flex-start
    align-items: baseline

tag-field > tag-field-caption
    width: 175px
    flex-shrink: 0
    padding-right: u(3)

tag-field > tag-field-text
    width: 100%

tag-field > tag-field-select
    width: 100%


tag-field > tag-field
    width: 100%