@import ../../../variables


:host
    display: block
    padding: u(2)
    border-radius: u(1)

    img
        display: block

    .row
        margin-bottom: u(2)
        h2
            margin: 0
            margin-top: u(3)
    .row:first-child
        h2
            margin-top: 0
    .row:last-child
        margin-bottom: 0

:host[white]
    background: white
    box-shadow: 0px 0px 0px 1px rgba(black,0.01) , 0px 1px 1px 0px rgba(black,0.05)

:host[silver]
    background: rgb(247, 247, 247)

:host[stroked]
    background: rgba(0, 0, 0, 0)
    border: 1px solid rgba(0, 0, 0, 0.01)

:host[transparent]
    background: rgba(0, 0, 0, 0)
    box-shadow: none


.disposal-schedule
    td
        padding: u(0.5)
        font-size: u(1.5)
        white-space: nowrap
        vertical-align: middle
    
    input[type="checkbox"]
        margin-right: u(0.5)

    input[type="button"]
        width: u(5)
        height: u(5)
        border-radius: 50%
        border: 1px solid silver