<div class="item" *ngIf="!object">
    <code>
        <h3>OrderObjectComponent</h3>
        object: OrderObject undefined
    </code>
</div>


<div class="item" *ngIf="object">


    <div class="row">
        <tag-field>
            <tag-field-caption></tag-field-caption>
            <tag-field-text>
                <h2>Объект</h2>
            </tag-field-text>
        </tag-field>
    </div>

    <div class="row">
        <tag-field>
            <tag-field-caption>Название</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption>Регион</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>

    <div class="row">
        <tag-field>
            <tag-field-caption>Район</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>

    <div class="row">
        <tag-field>
            <tag-field-caption>Город</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>

    <div class="row">
        <tag-field>
            <tag-field-caption>Населеный пункт</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>

    <div class="row">
        <tag-field>
            <tag-field-caption>Улица</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>

    <div class="row">
        <tag-field>
            <tag-field-caption>Здание</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>

    <div class="row">
        <tag-field>
            <tag-field-caption>Помещение</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption></tag-field-caption>
            <tag-field>
                <img src="https://via.placeholder.com/1x1.png" style="width:100%; height: 200px;">
            </tag-field>
        </tag-field>
    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption>Тип</tag-field-caption>
            <tag-field-select>
                <select>
                    <option value="Выберите тип объекта" disabled>Выберите тип объекта</option>
                    <option value="Медучреждение">Медучреждение</option>
                    <option value="Школа">Школа</option>
                    <option value="Театр">Театр</option>
                </select>
            </tag-field-select>
        </tag-field>
    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption>Тип&nbsp;обслуживания</tag-field-caption>
            <tag-flex gap="u(2)">
                <tag-flex-item>
                    <label>
                        <tag-flex gap="u(1)">
                            <tag-flex-item>
                                <input type="radio" name="name1" id="">
                            </tag-flex-item>
                            <tag-flex-item>
                                По&nbsp;нормам
                            </tag-flex-item>
                        </tag-flex>
                    </label>
                </tag-flex-item>
                <tag-flex-item>
                    <label>
                        <tag-flex gap="u(1)">
                            <tag-flex-item>
                                <input type="radio" name="name1" id="">
                            </tag-flex-item>
                            <tag-flex-item>
                                По&nbsp;графику
                            </tag-flex-item>
                        </tag-flex>
                    </label>
                </tag-flex-item>
                <tag-flex-item>
                    <label>
                        <tag-flex gap="u(1)">
                            <tag-flex-item>
                                <input type="radio" name="name1" id="">
                            </tag-flex-item>
                            <tag-flex-item>
                                Фиксированный
                            </tag-flex-item>
                        </tag-flex>
                    </label>
                </tag-flex-item>
            </tag-flex>
        </tag-field>
    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption></tag-field-caption>
            <tag-field-text>
                <h2>Параметры</h2>
            </tag-field-text>
        </tag-field>
    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption>Площадь объекта</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption>Количество персонала</tag-field-caption>
            <tag-field-text>
                <input type="text">
            </tag-field-text>
        </tag-field>
    </div>


    <div class="row">
        <tag-field>
            <tag-field-caption>Граффик&nbsp;вывоза</tag-field-caption>
            <tag-field>
                <span>c&nbsp;&nbsp;&nbsp;</span>
                <tag-field-text> <input type="text"></tag-field-text>
                <span>&nbsp;&nbsp;&nbsp;по&nbsp;&nbsp;&nbsp;</span>
                <tag-field-text> <input type="text"></tag-field-text>
            </tag-field>
        </tag-field>
        <tag-field>
            <tag-field-caption></tag-field-caption>
            <div class="disposal-schedule">
                <label><input type="checkbox" name="">По календарным дням</label>

                <table>
                    <tbody>
                        <tr>
                            <td> <label><input type="checkbox" name="">Понедельник</label></td>
                            <td> <label><input type="checkbox" name="">1-ая</label> </td>
                            <td> <label><input type="checkbox" name="">2-ая</label> </td>
                            <td> <label><input type="checkbox" name="">3-ая</label> </td>
                            <td> <label><input type="checkbox" name="">4-ая</label> </td>
                            <td> <label><input type="checkbox" name="">Последняя</label> </td>
                        </tr>
                        <tr>
                            <td> <label><input type="checkbox" name="">Вторник</label></td>
                            <td> <label><input type="checkbox" name="">1-ая</label> </td>
                            <td> <label><input type="checkbox" name="">2-ая</label> </td>
                            <td> <label><input type="checkbox" name="">3-ая</label> </td>
                            <td> <label><input type="checkbox" name="">4-ая</label> </td>
                            <td> <label><input type="checkbox" name="">Последняя</label> </td>
                        </tr>
                        <tr>
                            <td> <label><input type="checkbox" name="">Среда</label></td>
                            <td> <label><input type="checkbox" name="">1-ая</label> </td>
                            <td> <label><input type="checkbox" name="">2-ая</label> </td>
                            <td> <label><input type="checkbox" name="">3-ая</label> </td>
                            <td> <label><input type="checkbox" name="">4-ая</label> </td>
                            <td> <label><input type="checkbox" name="">Последняя</label> </td>
                        </tr>
                        <tr>
                            <td> <label><input type="checkbox" name="">Четверг</label></td>
                            <td> <label><input type="checkbox" name="">1-ая</label> </td>
                            <td> <label><input type="checkbox" name="">2-ая</label> </td>
                            <td> <label><input type="checkbox" name="">3-ая</label> </td>
                            <td> <label><input type="checkbox" name="">4-ая</label> </td>
                            <td> <label><input type="checkbox" name="">Последняя</label> </td>
                        </tr>
                        <tr>
                            <td> <label><input type="checkbox" name="">Пятница</label></td>
                            <td> <label><input type="checkbox" name="">1-ая</label> </td>
                            <td> <label><input type="checkbox" name="">2-ая</label> </td>
                            <td> <label><input type="checkbox" name="">3-ая</label> </td>
                            <td> <label><input type="checkbox" name="">4-ая</label> </td>
                            <td> <label><input type="checkbox" name="">Последняя</label> </td>
                        </tr>
                        <tr>
                            <td> <label><input type="checkbox" name="">Суббота</label></td>
                            <td> <label><input type="checkbox" name="">1-ая</label> </td>
                            <td> <label><input type="checkbox" name="">2-ая</label> </td>
                            <td> <label><input type="checkbox" name="">3-ая</label> </td>
                            <td> <label><input type="checkbox" name="">4-ая</label> </td>
                            <td> <label><input type="checkbox" name="">Последняя</label> </td>
                        </tr>
                        <tr>
                            <td> <label><input type="checkbox" name="">Воскресенье</label></td>
                            <td> <label><input type="checkbox" name="">1-ая</label> </td>
                            <td> <label><input type="checkbox" name="">2-ая</label> </td>
                            <td> <label><input type="checkbox" name="">3-ая</label> </td>
                            <td> <label><input type="checkbox" name="">4-ая</label> </td>
                            <td> <label><input type="checkbox" name="">Последняя</label> </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td><input type="button" name="" value="1"></td>
                            <td><input type="button" name="" value="2"></td>
                            <td><input type="button" name="" value="3"></td>
                            <td><input type="button" name="" value="4"></td>
                            <td><input type="button" name="" value="5"></td>
                        </tr>
                        <tr>
                            <td><input type="button" name="" value="6"></td>
                            <td><input type="button" name="" value="7"></td>
                            <td><input type="button" name="" value="8"></td>
                            <td><input type="button" name="" value="9"></td>
                            <td><input type="button" name="" value="10"></td>
                        </tr>
                        <tr>
                            <td><input type="button" name="" value="11"></td>
                            <td><input type="button" name="" value="12"></td>
                            <td><input type="button" name="" value="13"></td>
                            <td><input type="button" name="" value="14"></td>
                            <td><input type="button" name="" value="15"></td>
                        </tr>
                        <tr>
                            <td><input type="button" name="" value="16"></td>
                            <td><input type="button" name="" value="17"></td>
                            <td><input type="button" name="" value="18"></td>
                            <td><input type="button" name="" value="19"></td>
                            <td><input type="button" name="" value="20"></td>
                        </tr>
                        <tr>
                            <td><input type="button" name="" value="21"></td>
                            <td><input type="button" name="" value="22"></td>
                            <td><input type="button" name="" value="23"></td>
                            <td><input type="button" name="" value="24"></td>
                            <td><input type="button" name="" value="25"></td>
                        </tr>
                        <tr>
                            <td><input type="button" name="" value="26"></td>
                            <td><input type="button" name="" value="27"></td>
                            <td><input type="button" name="" value="28"></td>
                            <td><input type="button" name="" value="29"></td>
                            <td><input type="button" name="" value="30"></td>
                        </tr>
                        <tr>
                            <td><input type="button" name="" value="31"></td>
                            <td><input type="button" name="" value="Посл."></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tag-field>
    </div>


    <div class="row">
        <tag-flex justify-content="center">
            <tag-flex-item>
                Стимость по объекту 1500₽ в месяц
            </tag-flex-item>
        </tag-flex>
    </div>


</div>