@import ../tags

:host
    background-color: $color-accent
    color: white
    padding: u(1) u(2) 
    border-radius: u(0.3)
    border: none
    line-height: 1
    font-weight: 500
    display: inline-block
    text-decoration: none
    user-select: none
    cursor: pointer
:host:active
    transform: translateY(1px)

:host[size="x"]
    padding: u(2) u(3)
    font-size: u(3)
:host[size="s"]
    padding: u(0.6) u(0.5) u(0.5)
    font-size: u(1.5)
    line-height: 1
:host[disabled] 
    filter: greyscale(1)
    user-select: none
    opacity: 0.5
    cursor: default

:host([tag-stroked-button])
    background-color: rgba(0, 0, 0, 0)
    color: inherit
    font-weight: normal
    border: 1px solid $color-light-gray
:host([tag-stroked-button]):focus   
    border-color: rgba(0, 0, 0, 0)


