<div *ngIf="LOADING === true">
    <tag-card>
        <br>
        <br>
        <tag-flex justify-content="center">
            <tag-flex-item>
                <tag-progress-circle> </tag-progress-circle>
            </tag-flex-item>
        </tag-flex>
        <br>
        <br>
    </tag-card>
</div>




<div *ngIf="LOADING === false">
    <tag-card>
        <div class="header">
            <tag-flex justify-content="space-between" align-items="flex-start">
                <tag-flex-item>
                    <h1>Договоры</h1>
                </tag-flex-item>

                <tag-flex-item>
                    <button tag-button [routerLink]="[ '/order/new' ]" routerLinkActive="active">Новый договор</button>
                </tag-flex-item>
            </tag-flex>
        </div>

        <div class="body">
            <div class="table" *ngIf="list.length > 0">
                <table tag-simple-table>
                    <thead>
                        <tr>
                            <td>№</td>
                            <td>Договор</td>
                            <td>Статус</td>
                            <td>Организация</td>
                            <td>Кол-во Объектов</td>
                            <td>Долг\переплата</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template ngFor let-i="index" let-item [ngForOf]="list">
                            <tr>
                                <td>{{ i + 1 }}</td>
                                <td>{{item['Номер']}}</td>
                                <td>{{item['Статус']}}</td>
                                <td> - </td>
                                <td> - </td>
                                <td>{{item['СуммаСальдо']}}</td>
                                <td>
                                    <tag-flex justify-content="flex-end" gap="u(1)" align-items="flex-start">
                                        <tag-flex-item>
                                            <a tag-stroked-button href="" size="s" [routerLink]="['/order', item['Идентификатор'], 'objects']">Подробнее</a>
                                        </tag-flex-item>
                                    </tag-flex>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            <div class="table" *ngIf="list.length === 0">
                <tag-flex justify-content="center">
                    <tag-flex-item>
                        <b>Пусто</b>
                    </tag-flex-item>
                </tag-flex>
            </div>
        </div>
    </tag-card>
</div>