@import ../tags

tag-field-select
    display: block

tag-field-select > select
    width: 100%
    padding: u(1)
    border: 1px solid rgba(black,0.1)
    border-radius: 3px
    line-height: 1 

tag-field-select > select:focus
    border-color: rgba(0,0,0,0)

tag-field-select[size="x"] > select
    padding: u(2) u(3)
    font-size: u(3)

tag-field-select[size="s"] > select
    padding: u(0.6) u(0.5) u(0.5)
    font-size: u(1.5)

tag-field-select[disabled] > select
    filter: greyscale(1)
    user-select: none
    opacity: 0.5
    cursor: default