@import ../tags

[tag-simple-table]
    width: 100%
    border-collapse: collapse
    font-size: u(1.5)
    line-height: u(1.75)


[tag-simple-table] > * > tr >
    td[right]
        text-align: right
    td[center]
        text-align: center
    td
        vertical-align: top
        padding: u(1)


[tag-simple-table] > thead > tr > td
    border-bottom: 1px solid black
    font-weight: bold
    padding: u(1)
    line-height: u(1.5)


[tag-simple-table] > tbody > tr > td
    border-bottom: 1px solid $color-light-gray


[tag-simple-table] > tbody > tr:first-child > td
    padding-top: u(1.5)
[tag-simple-table] > tbody > tr:last-child > td
    border-color: rgba(0, 0, 0, 0)


[tag-simple-table] > * >
    .sup-table-row.active > td
        border-bottom-color: rgba(0, 0, 0, 0)
    .sub-table-row > td
        padding-bottom: u(8)
    .sub-table-row:last-child > td
        padding-bottom: u(1)
    .sub-table-row tbo-order-object
        margin: 0
        background: rgb(250,250,250)