<tag-card *ngIf="mode == 0">
    <user-signin-form0 *ngIf="mode === 0" (onSubmit)="onSubmit0($event)"></user-signin-form0>
</tag-card>
<tag-card *ngIf="mode > 0">
    <h1>Регистрация</h1>
    
    <tag-flex gap="u(1)">
        <tag-flex-item>
            <button tag-button (click)="pick(1)" *ngIf="mode === 1">Физическое лицо</button>
            <button tag-stroked-button  (click)="pick(1)" *ngIf="mode !== 1">Физическое лицо</button>

        </tag-flex-item>
        <tag-flex-item>
            <button tag-button (click)="pick(2)" *ngIf="mode === 2">Индивидуальный предприниматель</button>
            <button tag-stroked-button  (click)="pick(2)" *ngIf="mode !== 2">Индивидуальный предприниматель</button>

        </tag-flex-item>
        <tag-flex-item>
            <button tag-button (click)="pick(3)" *ngIf="mode === 3">Юридическое лицо</button>
            <button tag-stroked-button  (click)="pick(3)" *ngIf="mode !== 3">Юридическое лицо</button>
        </tag-flex-item>
    </tag-flex>

    <br>

    <user-signin-form1 *ngIf="mode === 1" [user] = "user1" (onSubmit)="onSubmit1($event)"></user-signin-form1>
    <user-signin-form2 *ngIf="mode === 2" [user] = "user2" (onSubmit)="onSubmit2($event)"></user-signin-form2>
    <user-signin-form3 *ngIf="mode === 3" [user] = "user3" (onSubmit)="onSubmit3($event)"></user-signin-form3>

    <div class="row">
        <a href="" [routerLink]="[ '/', 'user', 'login' ]">Войти</a>
        <br>
        <a href="" [routerLink]="[ '/', 'user', 'recovery' ]">Восстановить пароль</a>
    </div>
</tag-card>