@import ../../../variables


:host
    display: block


h1
    margin: 0
h2 
    margin: 0


tag-field-text
    margin-bottom: u(1)



.row
    margin-bottom: u(4)
    

tag-card
    margin-bottom: u(7)