@import ../node_modules/normalize.css/normalize.css
@import ./variables

*
    box-sizing: border-box
    
body
    font-family: "Fira Sans Condensed", sans-serif
    padding: u(1) u(5) 
    background: rgb(247,247,247)
    padding-bottom: 33vh
    font-size: u(2)
    line-height: u(2.5)
    overflow-y: scroll
h1
    font-size: u(4)
    line-height: u(5)

h2
    font-size: u(3)
    line-height: u(4)

h3,h4,h5
    font-size: u(2)
    line-height: u(2.5)

a
    color: $color-accent

hr
    height: 1px
    border: none
    background: rgba(black,0.1)

