@import  ../../../variables


:host
    width: 400px
    display: block
    margin: auto

tag-card
    padding: u(3)

h1
    text-align: center
    margin: u(3)
    margin-top: 0
.row
    margin-bottom: u(2)
    text-align: center
.row:last-child
    margin-bottom: 0
