<tag-card>
    <h1>Авторизация</h1>

    <div class="row" [innerHTML]="message"></div>
    <div class="row">
        <tag-field-text>
            <input type="text" placeholder="Логин (e-mail)" [(ngModel)]="username"  >
        </tag-field-text>
    </div>
    <div class="row">
        <tag-field-text>
            <input type="password" placeholder="Пароль" [(ngModel)]="userpass" >
        </tag-field-text>
    </div>

    <div class="row">
        <button tag-button (click)="submit()">Войти</button>
    </div>

    <div class="row">
        <a href="" [routerLink]="[ '/', 'user', 'signin' ]">Зарегистрироваться</a>
        <br>
        <a href="" [routerLink]="[ '/', 'user', 'recovery' ]">Восстановить пароль</a>
    </div>
</tag-card>