<tag-card>
    <h1>Авторизация</h1>

    <div class="row">
        <p>Пожалуйста, укажите e-mail, который вы указали при регистрации. На него прийдёт ссылка для восстановления пароля к аккаунту.</p>
    </div>

    <div class="row">
        <tag-field>
            <tag-field-text>
                <input type="text" placeholder="Ваш E-mail">
            </tag-field-text>
        </tag-field>
    </div>


    <div class="row">
        <button tag-button (click)="login()">Восстановить пароль</button>
    </div>

    <div class="row">
        <a href="" [routerLink]="[ '/', 'user', 'signin' ]">Зарегистрироваться</a>
        <br>
        <a href="" [routerLink]="[ '/', 'user', 'login' ]">Войти</a>
    </div>
</tag-card>